<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="catbot">

  <!-- Use this if parameters are set from the launch file, otherwise delete -->
  <xacro:arg name="prefix" default="" />
  <!-- <xacro:arg name="use_ros2_control" default="true"/>
  <xacro:arg name="sim_mode" default="false"/> -->

  <xacro:include filename="$(find catbot_description)/urdf/catbot/catbot_macro.xacro"/>
  <xacro:include filename="gazebo_catbot.xacro" />
  <xacro:include filename="4wd_control.xacro"/>
  
  <!-- <xacro:if value="$(arg use_ros2_control)">
    <xacro:include filename="$(find catbot_description)/urdf/catbot/catbot_macro.ros2_control.xacro"/>
  </xacro:if>
  <xacro:unless value="$(arg use_ros2_control)">
    <xacro:include filename="gazebo_control.xacro" />
  </xacro:unless> -->

  <xacro:diff_drive_controller
    wheel_separation="${0.156}"
    wheel_diameter="${0.066}"
  />

</robot>
