<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <gazebo reference="still_chassis_assm">
        <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference="wheel_assm">
        <material>Gazebo/Black</material>
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>

    <gazebo reference="wheel_assm_2">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="wheel_assm_3">
        <material>Gazebo/Black</material>
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>

    <gazebo reference="wheel_assm_4">
        <material>Gazebo/Blue</material>
    </gazebo>


</robot>
